[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
django-webpack-loader = "*"
djangorestframework-jwt = "*"
psycopg2 = "*"
whitenoise = "*"
django-filter = "*"

[requires]
python_version = "3.7"
